<!-- <p>main works!</p> -->
<div class="main">
<h2>Components</h2>
<div class="container">
    <br>
    <mat-divider></mat-divider>
    <div class="content">
        <div class="row">
            <div class="col">
                <mat-card class="card">
                    <button mat-raised-button><a routerLink="./button">Button</a></button>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col">
                <mat-card class="card">
                    <button mat-raised-button><a routerLink="./toggleButton">ToogleButton</a></button>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col">
                <mat-card class="card">
                    <button mat-raised-button><a routerLink="./dynamic-color">Dynamic Color</a></button>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col">
                <mat-card class="card">
                    <button mat-raised-button><a routerLink="./">Subscribe</a></button>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</div>
