
.container{
    /* .btn-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1px; */
        /* .btn-card{ */
            /* width: calc(50% - 20px); */
            /* margin: 0 10px 20px; */
            /* .btn-row{
                display: flex;
                button{
                    margin-right: .8rem;
                }
            }
        } */
    }
/* } */
.container{
    /* margin: 30px 300px; */
}

.wrapper{
     /* .primary{
        color: blue;
     }

     .accent{
        color: yellow;
     }

     .warn{
        color: red;
     } */    
}

.box{
    width: 500px;
    height: 200px;
    font-size: 30px;
    padding: 25px;
    /* background-color: orangered; */
    background-color: black;
    color: white;
 }