<!-- <p>button works!</p> -->
<div class="container">
<h1>Buttons</h1>
<mat-divider></mat-divider>
<div class="btn-wrapper mt-3">
    <mat-card class="btn-card">
        <h2>Basic Button</h2>
        <div class="btn-row">
            <button mat-button>Subscribe</button>
            <button mat-button color="primary">Subscribe</button>
            <button mat-button color="accent">Subscribe</button>
            <button mat-button color="warn">Subscribe</button>
            <button mat-button disabled>Subscribe</button>
            <button mat-button><a href="https://google.com">Subscribe</a></button>
        </div>
    </mat-card>
    <mat-card class="btn-card">
        <h2>Raised Button</h2>
        <div class="btn-row">
            <button mat-raised-button>Subscribe</button>
            <button mat-raised-button color="primary">Subscribe</button>
            <button mat-raised-button color="accent">Subscribe</button>
            <button mat-raised-button color="warn">Subscribe</button>
            <button mmat-raised-button disabled>Subscribe</button>
            <button mat-raised-button><a href="https://google.com">Subscribe</a></button>
        </div>
    </mat-card>
    <mat-card class="btn-card">
        <h2>Stroked Button</h2>
        <div class="btn-row">
            <button mat-stroked-button>Subscribe</button>
            <button mat-stroked-button color="primary">Subscribe</button>
            <button mat-stroked-button color="accent">Subscribe</button>
            <button mat-stroked-button color="warn">Subscribe</button>
            <button mmat-stroked-button disabled>Subscribe</button>
            <button mat-stroked-button><a href="https://google.com">Subscribe</a></button>
        </div>
    </mat-card>
    <mat-card class="btn-card">
        <h2>Stroked Button</h2>
        <div class="btn-row">
            <button mat-flat-button>Subscribe</button>
            <button mat-flat-button color="primary">Subscribe</button>
            <button mat-flat-button color="accent">Subscribe</button>
            <button mat-flat-button color="warn">Subscribe</button>
            <button mmat-flat-button disabled>Subscribe</button>
            <button mat-flat-button><a href="https://google.com">Subscribe</a></button>
        </div>
    </mat-card>
    <mat-card class="btn-card">
        <h2>Icon Button</h2>
        <div class="btn-row">
            <button mat-icon-button color="">
                <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="accent">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button color="warn">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button disabled>
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button >
                <mat-icon>
                    <mat-spinner diameter="20" color="primary"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-icon-button >
                <mat-icon>
                    <mat-spinner diameter="20" color="accent"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-icon-button >
                <mat-icon>
                    <mat-spinner diameter="20" color="warn"></mat-spinner>
                </mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card class="btn-card">
        <h2>FAB Button</h2>
        <div class="btn-row">
            <button mat-fab color="">
                <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-fab color="primary">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-fab color="accent">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-fab color="warn">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-fab disabled>
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-fab >
                <mat-icon>
                    <mat-spinner diameter="20" color="primary"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-fab >
                <mat-icon>
                    <mat-spinner diameter="20" color="primary"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-fab >
                <mat-icon>
                    <mat-spinner diameter="20" color="warn"></mat-spinner>
                </mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card class="btn-card">
        <h2>MINI FAB Button</h2>
        <div class="btn-row">
            <button mat-mini-fab color="">
                <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-mini-fab color="primary">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-mini-fab color="accent">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-mini-fab color="warn">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-mini-fab disabled>
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-mini-fab >
                <mat-icon>
                    <mat-spinner diameter="20" color="primary"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-mini-fab >
                <mat-icon>
                    <mat-spinner diameter="20" color="primary"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-mini-fab >
                <mat-icon>
                    <mat-spinner diameter="20" color="warn"></mat-spinner>
                </mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card class="btn-card">
        <h2>Loding Button</h2>
        <div class="btn-row">
            <button mat-button>Subscribe
                <mat-icon>
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-flat-button color="primary">Subscribe
                <mat-icon>
                    <mat-spinner diameter="20" color="warn"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-raised-button color="accent">Subscribe
                <mat-icon>
                    <mat-spinner diameter="20" color="primary"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-stroked-button color="warn">Subscribe
                <mat-icon>
                    <mat-spinner diameter="20" color="accent"></mat-spinner>
                </mat-icon>
            </button>
            <button mat-button disabled>Subscribe
                <mat-icon>
                    <mat-spinner diameter="20" ></mat-spinner>
                </mat-icon>
            </button>
            <button mat-button><a href="https://google.com">Subscribe</a></button>
        </div>
    </mat-card>
</div>
</div>